service:
  name: scraping-lambda-backoffice

plugins:
  - serverless-webpack
  - serverless-plugin-existing-s3
  - serverless-offline

provider:
  name: aws
  runtime: nodejs10

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          method: get
          path: hello